.main {
 width: 100%;
}

.description {
  display: block;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.header {
  display: flex;
  column-gap:24px;
  padding-bottom: 30px;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.banner {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: auto;
  max-height: 400px;
}

.title{
  font-size: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border: 1px solid black;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.link {
  width: 25%;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.link:nth-child(1) {
  background-color: green;
}

.link:nth-child(2) {
  background-color: red;
}

.link:nth-child(3) {
  background-color: skyblue;
}

.link:nth-child(4) {
  background-color: brown;
}

.link:nth-child(5) {
  background-color: greenyellow;

 
}

.link:nth-child(6) {
  background-color: red;
}